{% extends 'base.html' %}
{% block content %}
<form id="formAlta" action="usuarioModificado" method="POST">
<fieldset>
<legend>Modificar Usuario</legend>
    <div class="formu"><label>ID Usuario:</label><input type="text" name="id" id="id" value={{persona.idpersona}} readonly=""/></div><br />
	<div class="formu"><label>Apellido:</label><input type="text" name="apellido" id="apellido" value={{persona.apellido}} /></div><br />
	<div class="formu"><label>Nombre:</label><input type="text" name="nombre" id="nombre" value={{persona.nombre}} /></div><br />
    <div class="formu"><label>DNI:</label><input type="text" name="dni" id="dni" value={{persona.dni}} /></div><br />
    <div class="formu"><label>Usuario:</label><input type="text" name="usuario" id="usu" value={{usuario.nombreUsuario}} /></div><br />
    <div class="formu"><label>Contraseña:</label><input type="text" name="contraseña" id="cont" value={{usuario.contrasena}} /></div><br />
    <div class="botones" ><input type="submit" name="enviar" id="Enviar" value="Modificar" /></div>
    <div class="botones" ><a id="volver" href="/">Volver</a></div>
</fieldset>
</form>
{% endblock %}
